body{
    background-color: black;
}
.wd-bookmark{
    font-size: 20px;
    color: white;
}

.wd-top-div{
    border: 1px grey solid;
    height: 50px;
    margin-right: 800px;
}

.wd-handle{
    font-size: 13px;
    color: grey;
    padding-bottom: 12px;

}

.wd-top{
    padding-top: 12px;
}

.wd-left{
    padding-left: 16px;
}

.wd-circular{
    border-radius: 50%;
    height: 48px;
    width: 48px;
    margin-left: 16px;
}

.wd-author{
    color: white;
    font-size: 15px;
}

.wd-avatar-div{
    background-color: black;
    float: left;
    align-items: center;
    padding-top: 12px;
}

.wd-content-div{
    background-color: black;
    float: left;

}

.wd-main-content-picture{
    border-radius: 30px 30px 0 0 ;
    align-content: center;
    height:264px;
    width:506px;
}

.wd-content-div-main{
    height: 650px;
    margin-right: 800px;
    background-color: black;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

.wd-rounded-div {
    border: 1px solid grey;
    border-radius: 30px;
    margin-right: 15px;
    max-width: 506px;
    margin-left: 16px;
}

.wd-img-text {
    font-size: 15px;
    color: white;
    padding-top: 12px;
    padding-left: 16px;
}

.wd-img-content {
    max-width: 506px;
    color: grey;
    padding-left: 16px;
}
.wd-img-content-div{
    max-width: 506px;
    padding-top: 12px;
}
.wd-main-content{
    max-width: 506px;
    padding-bottom: 12px;
    color: white;
    font-size: 15px;
}

.wd-icons-main{
    margin-left: 20px;
    margin-top: 5px;
}
.wd-icons{
    font-size:15px;
    color:grey;
}
.wd-special-icon{
    color: rgb(224,36,94);
}
.wd-icon-stats{
    margin-left: 12px;
    margin-right: 40px;
    color: grey;
}

.wd-heart-stats{
    color: rgb(224,36,94)
}
.wd-arrows{
    font-size:15px;
    color:red;
}

.wd-icon-decoration{
    text-decoration: none;
}